

/* body {
    font-family: Arial, sans-serif;
    background-image: url("Image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .container {
    max-width: 300px;
    margin:200px auto;
    padding: 70px 40px;
   border: 1.5px solid #ccc; 
    border-radius: 10px;
    height: 250px;
    background-color:white;
    
  }

  .container h2 {
    text-align: center;
  }

  .container label {
    display: block;
    margin-bottom: 5px;
  }

  .container input[type="text"],
  .container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .container input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  #Login{
    border-radius: 49px;
   background-color: #1863A8;
   width: 189px;
   height: 50px;
  
  }
  .user{
    display: flex;
  }
  .luck{

    display: flex;
  }
  #username{
    margin-left: 10px;
  }
  #password{
    margin-left: 10px;  
  }
  .Login{
    text-align: center;
  }
  #Login:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }